* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: burlywood;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 110px 0;
}